<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>상품 관리</h1>
        </div>
        <div class="col">
            <a th:href="|#|" th:onclick="goPost()">로그아웃</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button th:onclick="|location.href='@{/product/save}'|">상품 생성</button>
            <button th:onclick="|location.href='@{/product/update}'|">상품 수정</button>
        </div>
    </div>
</div>
</body>
</html>