<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container py-4">
    <div class="row">
        <h1>리뷰 작성</h1>
        <div>
            <input type="hidden" th:name="memberId" th:id="memberId" th:value="${loginMember.memberId}">
            <input type="hidden" th:name="productId" th:id="productId" th:value="${productId}">
            <div class="row mb-3">
                <div class="col-sm-3">
                    <textarea th:name="productReview" th:id="productReview" placeholder="상품을 리뷰 해주세요." rows="20" cols="40"></textarea>
                    <div id="error" class="error" style="color: #dc3545;"></div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" th:onclick="|reviewSave()|">작성하기</button>
        </div>
    </div>
</div>
</body>
</html>