<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/divHeader :: divHeader" />
    <div class="row">
        <a th:href="@{/member/{memberId}/my-info(memberId=${loginMember.memberId})}">내 정보 수정</a>
        <a th:href="@{/member/{memberId}/my-cart(memberId=${loginMember.memberId})}">장바구니</a>
    </div>
    <div>
        <!-- 회원 정보 -->
        <div style="border: 2px black solid;">
            <p th:text="${loginMember.name}">회원 이름</p>
            <p th:text="${loginMember.address1}">주소</p>
            <p th:text="${loginMember.address2}">상세 주소</p>
        </div>
        <!-- 총 주문 가격 -->
        <div style="border: 2px black solid;">
            총 주문 가격: <p th:text="${totalPrice}"></p>
        </div>
        <!-- 상세 주문 내역 확인 -->
        <div th:each="orderDetail : ${orderDetails}" style="border: 2px black solid;">
            상품 이미지: <img th:src="|/images/${orderDetail.filename}|" width="100" height="100"><br>
            상품 이름: <p th:text="${orderDetail.productName}"></p>
            상품 가격: <p th:text="${orderDetail.price}"></p>
            주문한 수량: <p th:text="${orderDetail.count}"></p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>