<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/divHeader :: divHeader" />
    <h1>내 장바구니</h1>
    <form action="/cart-order" method="post">
        <input type="hidden" th:id="memberId" th:value="${loginMember.memberId}">
        <input type="hidden" th:name="_cartIds" value="on">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>상품이미지</th>
                    <th>상품이름</th>
                    <th>주문할 수량</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cart : ${carts}">
                    <td><div class="form-check"><input type="checkbox" class="form-check-input" th:name="cartIds" th:value="${cart.id}"></div></td>
                    <td><img th:src="|/images/${cart.storeImageName}|" width="50" height="50"></td>
                    <td><p th:text="${cart.productName}">상품이름</p></td>
                    <td><p th:text="|${cart.count} 개|">주문할 수량</p></td>
                    <td><button type="button" th:onclick="cancel([[${cart.id}]])" class="btn btn-outline-danger">담기 취소</button></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">주문</button>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
<script src="/js/app/index.js"></script>
</html>