<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container py-4">
    <div th:replace="fragments/divHeader :: divHeader" />
    <h1>내 정보 수정</h1>
    <div class="row">
        <form th:action="@{/member/{memberId}/my-info(memberId=${loginMember.memberId})}" th:object="${myInfoForm}" method="post">
            <div>
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
                <div class="field-error" th:errors="*{name}">이름 오류</div>
            </div>
            <div>
                <label th:for="phone">전화번호</label>
                <input type="text" th:field="*{phone}" placeholder="전화번호를 입력하세요">
                <div class="field-error" th:errors="*{phone}">전화번호 오류</div>
            </div>
            <div>
                <label th:for="email">이메일</label>
                <input type="email" th:field="*{email}" placeholder="이메일을 입력하세요">
                <div class="field-error" th:errors="*{email}">이메일 오류</div>
            </div>
            <div>
                <label th:for="address">주소</label>
                <div>
                    <input type="text" th:field="*{zipcode}" placeholder="우편번호" readonly>
                    <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                    <input type="text" th:field="*{address1}" placeholder="주소" readonly><br>
                    <span class="field-error" th:errors="*{zipcode}">주소 오류</span>
                    <input type="text" th:field="*{address2}" placeholder="상세주소" style="display: block;">
                    <div class="field-error" th:errors="*{address2}">상세주소 오류</div>
                </div>
            </div>
            <button type="submit">회원수정</button>
            <button type="button" th:onclick="|location.href='@{/member/{memberId}/my-page(memberId=${loginMember.memberId})}'|">취소</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>