<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container py-4">
    <div th:replace="fragments/divHeader :: divHeader" />
    <div class="row">
        <form th:action="@{/member/sign-up}" th:object="${signUpForm}" method="post">
            <div class="row mb-3">
                <label th:for="id" class="col-sm-2 col-form-label">아이디</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" th:field="*{id}" placeholder="아이디를 입력하세요">
                    <div class="field-error" th:errors="*{id}">아이디 오류</div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="password" class="col-sm-2 col-form-label">비밀번호</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호를 입력하세요">
                    <div class="field-error" th:errors="*{password}">비밀번호를 입력해주세요.</div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="passwordCheck" class="col-sm-2 col-form-label">비밀번호 확인</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" th:field="*{passwordCheck}" placeholder="비밀번호 확인을 입력하세요">
                </div>
                <!-- 비밀번호와 맞지 않는 글로벌 오류 -->
                <!-- <div class="field-error" th:errors="*{passwordCheck}">비밀번호 확인을 입력해주세요.</div>-->
            </div>
            <div class="row mb-3">
                <label th:for="name" class="col-sm-2 col-form-label">이름</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" th:field="*{name}" placeholder="이름을 입력하세요">
                    <div class="field-error" th:errors="*{name}">이름 오류</div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="phone" class="col-sm-2 col-form-label">전화번호</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" th:field="*{phone}" placeholder="전화번호를 입력하세요">
                    <div class="field-error" th:errors="*{phone}">전화번호 오류</div>
                </div>
            </div>
            <div class="row mb-3">
                <label th:for="email" class="col-sm-2 col-form-label">이메일</label>
                <div class="col-sm-3">
                    <input type="email" class="form-control" th:field="*{email}" placeholder="이메일을 입력하세요">
                    <div class="field-error" th:errors="*{email}">이메일 오류</div>
                </div>
            </div>

            <div class="row mb-3">
                <label th:for="address" class="col-sm-2 col-form-label">주소</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control mb-1" th:field="*{zipcode}" placeholder="우편번호" readonly>
                    <input type="text" class="form-control mb-1" th:field="*{address1}" placeholder="주소" readonly>
                    <span class="field-error" th:errors="*{zipcode}">주소 오류</span>
                    <input type="text" class="form-control" th:field="*{address2}" placeholder="상세주소">
                    <div class="field-error" th:errors="*{address2}">상세주소 오류</div>
                </div>
                <div class="col-sm-3">
                    <input type="button" class="btn btn-primary" onclick="execDaumPostcode()" value="우편번호 찾기">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">회원가입</button>
            <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/}'|">취소</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>