<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="div-header" th:fragment="divHeader">
    <div>
        <h1>로고 이미지</h1>
    </div>
    <div>
        <input type="text" placeholder="상품 검색">
    </div>
    <div th:if="${loginMember == null}">
        <a th:href="@{/sign-in}">로그인</a>
        <a th:href="@{/sign-up}">회원가입</a>
    </div>
    <div th:unless="${loginMember == null}">
        <p th:text="|환영합니다. ${loginMember.name}님!|"></p>
        <a th:href="@{/my-page}">마이페이지</a>
        <a th:href="@{/logout}">로그아웃</a>
    </div>
</div>