<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Field Error CSS -->
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>

    <!-- js -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/app/postcode.js"></script>
    <script src="/js/app/cart.js"></script>
    <script>
        function goPost() {
            var logoutForm = $('<form></form>');
            logoutForm.attr("method", "post");
            logoutForm.attr("action","/member/logout");

            logoutForm.appendTo("body");

            logoutForm.submit();
        }
    </script>

    <title>HSW SHOP</title>
</head>
</html>