<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/divHeader :: divHeader" />
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">상품이미지</th>
                        <th scope="col">상품이름</th>
                        <th scope="col">상품가격</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <th scope="row">
                            <a th:href="@{/products/{productId}(productId=${product.id})}">
                                <p th:text="${product.id}">상품번호</p>
                            </a>
                        </th>
                        <td><img th:src="|/images/${product.productImage['storeImageName']}|" width="100" height="100"></td>
                        <td><p th:text="${product.name}" class="col">상품이름</p></td>
                        <td><p th:text="${product.price}" class="col">상품가격</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </div>
</body>
</html>